* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;

}

.spotifyContainer, .interface, .todoList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.spotifyContainer {
    flex: 2;
}

.spotifyContainer iframe {
    width: 100%; 
}

.container .interface p {
    font-size: 6em;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 1em;
    width: 60vw;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    font-size: 1.2em;
    padding: 12px;
}

.interface {
    flex: 1.5;
    align-items: center;
    gap: 10px;
    background-color: lightgray;
    padding: 12px;
}

.todoList {
    flex: 2;
    background-color: lightblue;
    padding: 12px;
    align-items: center;
}

#todoTextBox {
    width: 100%;
}
